extends ../../layout

block content
    .container.m-lg-4
        .row.featurette
            .col-md-7
                h2.featurette-heading=job.body.cargo
                p.lead= job.jobType + " no sector: " + job.jobSector + " como funçoes de : " + job.jobFunction + " na zona de: " + job.location
                p.lead= " Vagas disponíveis: " + job.body.vagas
                p.lead= "Benefícios: " + job.body.beneficios
                p.lead= "Requesitos necessários: " + job.body.requisitos
                p.lead= "Responsabilidades: " + job.body.responsabilidades
                p.lead= "Criado por: " + job.ruser.name.firstName + " " + job.date.getDay() + "/" + job.date.getMonth() + "/" + job.date.getUTCFullYear()
