extends ../../c/layout

block content
    .container.container-fluid
        .container
            .row
                .col-md-9
                    .row.m-lg-8
                        h2 Ofertas de trabalho
                        form(method="get")
                            #custom-search-input
                                .input-group.col-lg-12
                                    input.form-control.input-lg(type='text', placeholder='Buscar', name="name")
                                    span.input-group-btn
                                        button.btn.btn-info.btn-lg(type='submit')
                                            i.fa.fa-search

        table.table.table-striped
            thead
                tr
                    th(scope="col") Cargo
                    th(scope="col") Tipo de Trabalho
                    th(scope="col") Industria
                    th(scope="col") Função
                    th(scope="col") Localidade
                    th(scope="col") Criado em
                    th(scope="col") Autor
                    th(scope="col") Empresa
                    th(scope="col") Expira em


            tbody
                each job in jobs
                   -let getMonth=job.expirationDate.getMonth()+1
                   -let getDateMonth = job.date.getMonth()+1;
                    tr
                        td: a(href="/trabalho/" + job._id)= job.body.cargo
                        td= job.jobType
                        td= job.jobSector
                        td= job.jobFunction
                        td= job.location
                        td= job.date.getDate() + "/" +getDateMonth + "/" + job.date.getUTCFullYear()
                        td= job.ruser.name.firstName
                        td= job.company
                        td= job.expirationDate.getDate() + "/" +getMonth + "/" + job.expirationDate.getUTCFullYear()

