extends ../../layout

block content
    .container.py-5
        .row
            .col-md-9.mx-auto
                .card.border-secondary
                    .card-header
                        h3.col-md-9= job.body.cargo + " (" + job.gender + ") "
                    form.form
                        .container.py-3
                            .row
                                if(job.jobType)
                                    .col
                                        .form-group
                                            strong.label Tipo de trabalho:
                                            p=job.jobType
                                if(job.jobSector)
                                    .col
                                        .form-group
                                            strong.label Sector:
                                            p=job.jobSector
                                if(job.jobFunction)
                                    .col
                                        .form-group
                                            strong.label Função:
                                            p= job.jobFunction
                                if(job.company)
                                    .col
                                        .form-group
                                            strong.label Empresa:
                                            p= job.company

                            if(job.body.vagas)
                                .form-group
                                    strong.label Vagas:
                                    p= job.body.vagas
                            if(job.body.beneficios.length>10)
                                .form-group
                                    strong.label Beneficios:
                                    p= job.body.beneficios
                            if(job.body.requisitos)
                                .form-group
                                    strong.label Requisitos:
                                    p= job.body.requisitos
                            if(job.body.responsabilidades)
                                .form-group
                                    strong.label Responsabilidades:
                                    p= job.body.responsabilidades
                            if(job.salary)
                                .form-group
                                    strong.label Oferta Salarial:
                                    p= job.salary

                            .form-group
                                strong.label(for='location') Criado por:
                                p= job.ruser.name.firstName + " " + "em" + " " + job.date.getDay() + "/" + job.date.getMonth() + "/" + job.date.getUTCFullYear()

                            .form-group
                                a(href="/trabalho/" + "concorrer" + "/" + job._id)="Contactar anunciante"

        include ../../footer


