extends ./layout
block content
    .content-wrapper
        .content
            .info-box
                h4.text-black Ofertas de Trabalho
                p Ofertas de trabalho activas
                .table-responsive
                    table#example1.table.table-bordered.table-striped
                        thead
                            tr
                                th(scope="col") Cargo
                                th(scope="col") Tipo de Trabalho
                                th(scope="col") Industria
                                th(scope="col") Função
                                th(scope="col") Localidade
                                th(scope="col") Criado em
                                th(scope="col") Autor
                                th(scope="col") Empresa
                                th(scope="col") Expira em


                        tbody
                            each job in jobs
                                -let getMonth=job.expirationDate.getMonth()+1
                                -let getDateMonth = job.date.getMonth()+1;
                                    if(job.expirationDate > getNow)
                                        tr
                                            td: a(href="/trabalho/" + job._id)= job.body.cargo
                                            td= job.jobType
                                            td= job.jobSector
                                            td= job.jobFunction
                                            td= job.location
                                            td= job.date.getDate() + "/" + getDateMonth + "/" + job.date.getUTCFullYear()
                                            td= job.ruser.name.firstName
                                            td= job.company
                                            td= job.expirationDate.getDate() + "/" + getMonth + "/" + job.expirationDate.getUTCFullYear()
    include foote
    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/dist/js/niche.js')
    script(src='/dist/plugins/datatables/jquery.dataTables.min.js')
    script(src='/dist/plugins/datatables/dataTables.bootstrap.min.js')
    script.
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    script(src='/dist/plugins/table-expo/filesaver.min.js')
    script(src='/dist/plugins/table-expo/xls.core.min.js')
    script(src='/dist/plugins/table-expo/tableexport.js')
    script.
        $("table").tableExport({formats: ["xlsx", "xls", "csv", "txt"],});
    script(src='dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768',
                animationSpeed: 'fast',
                accoridonExpAll: false
            });
        });
