doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title=title
        meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/dist/css/style.css')
        link(rel='stylesheet', href='/dist/css/et-line-font/et-line-font.css')
        link(rel='stylesheet', href='/dist/css/themify-icons/themify-icons.css')
        link(rel='stylesheet', href='/dist/plugins/hmenu/ace-responsive-menu.css')
        link(rel='stylesheet', href='/dist/plugins/chartist-js/chartist.min.css')
        link(rel='stylesheet', href='/dist/plugins/chartist-js/chartist-plugin-tooltip.css')
        link(rel='stylesheet', href='/dist/plugins/formwizard/jquery-steps.css')
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body.hold-transition.skin-blue.sidebar-mini
        .wrapper.boxed-wrapper
            header.main-header
                a.logo.white-bg(href='/')
                    span.logo-mini
                        img(src='/logo-n.png', alt='')
                    span.logo-lg
                        img(src='/logo.png', alt='')

                nav.navbar.white-bg.navbar-static-top
                    -let search = false
                        if(search)
                            .pull-left.search-box
                                form.search-form(action='#', method='get')
                                    .input-group
                                        input.form-control(name='search', placeholder='Procurar trabalhos...', type='text')
                                        span.input-group-btn
                                            button#search-btn.btn.btn-flat(type='submit', name='search')
                                                i.fa.fa-search
                    .navbar-custom-menu
                        ul.nav.navbar-nav
                            if(ruser)
                                li.dropdown.user.user-menu.p-ph-res
                                    a.dropdown-toggle(href='/perfil/'+ruser._id, data-toggle='dropdown')
                                        if(ruser.profilePicture)
                                            img.user-image(src=ruser.profilePicture, alt='Fotografia de Perfil')
                                        span.hidden-xs=ruser.name.firstName + " " + ruser.name.lastName
                                    ul.dropdown-menu
                                        li.user-header
                                            .pull-left.user-img
                                                if(ruser.profilePicture)
                                                    img.img-responsive(src=ruser.profilePicture, alt='Utilizador')
                                                else
                                                    img.img-responsive(src="https://i07.fotocdn.net/s24/24/gallery_s/302/2608934167.jpg", alt='Utilizador')

                                            p.text-left=ruser.name.firstName + " " + ruser.name.lastName
                                            small=ruser.username
                                        li
                                            a(href='/perfil/'+ruser._id)
                                                i.icon-profile-male
                                                |  Meu Perfil
                                        li.divider(role='separator')
                                        li
                                            a(href="/perfil/"+ruser._id+"/editar")
                                                i.icon-gears
                                                |  Opções de Conta
                                        li.divider(role='separator')
                                        li
                                            a(href='/sair')
                                                i.fa.fa-power-off
                                                |  Sair

                            else
                                li.dropdown.user.user-menu.p-ph-res
                                    a.dropdown-toggle(href='index.html#', data-toggle='dropdown')
                                        img.user-image(src='https://museum.wales/media/40374/empty-profile-grey.jpg', alt='User Image')
                                        span.hidden-xs Entrar na sua conta
                                    ul.dropdown-menu.dropdown-lr
                                        .col-lg-12
                                            form#ajax-login-form(action='/', method='post', role='form', autocomplete='off')
                                                .form-group
                                                    .row
                                                        .col
                                                            .text-center
                                                                a.forgot-password(href='/registar', tabindex='5') Não tem Conta?
                                                    .form-group
                                                    label(for='username') Email
                                                    input#username.form-control(type='text', name='username',  placeholder='Username', value='', autocomplete='off')
                                                .form-group
                                                    label(for='password') Password
                                                    input#password.form-control(type='password', name='password', placeholder='Password', autocomplete='off')
                                                .form-group
                                                    .row
                                                        .col-xs-5.pull-right
                                                            input#login-submit.form-control.btn.btn-success(type='submit', name='login-submit', value='Entrar')
                                                .form-group
                                                    .row
                                                        .text-center
                                                            a.forgot-password(href='/recuperar', tabindex='5') Esqueceu-se da password?
            -let nav=true
            if(nav)
                .main-nav
                    nav
                        // Menu Toggle btn
                        .menu-toggle
                            h3 Menu
                            button#menu-btn(type='button')
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                        // Responsive Menu Structure
                        // Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion)
                        if(ruser)
                            ul#respMenu.ace-responsive-menu(data-menu-style='horizontal')
                                li
                                    a(href='/painel')
                                        i.fa.fa-dashboard
                                        span Painel
                                li
                                    a(href='/trabalhos')
                                        i.fa.fa-briefcase
                                        span Ofertas de Trabalho
                                    if(ruser)
                                        if(ruser.role==="Recruta")
                                            ul
                                                li
                                                    a.active(href='/trabalho/adicionar') Adicionar
                                li
                                    a(href='/empresas')
                                        i.fa.fa-th
                                        span Empresas
                                    ul
                                        li
                                            a(href='/empresas') Empresas
block content
    .content-wrapper
