extends ./layout
block content
    .content-wrapper
        .content
            .row
                .col-lg-4
                    .row
                        if(ruser.id === user.id)
                            .col-md-6
                                .box-body
                                    strong
                                        i.fa.fa-edit: a(href="/perfil/" + ruser._id + "/adicionarEducacao")="Adicionar Educação"
                            .col-md-6
                                .box-body
                                    strong
                                        i.fa.fa-edit: a(href="/perfil/" + ruser._id + "/adicionarExperiencia")="Adicionar Experiência"
                    .user-profile-box.m-b-3
                        .box-profile.text-white
                            if(user.profilePicture)
                                img.profile-user-img.img-responsive.img-circle.m-b-2(src=user.profilePicture, alt='Fotografia de Perfil')
                            else
                                img.profile-user-img.img-responsive.img-circle.m-b-2(src='https://i07.fotocdn.net/s24/24/gallery_s/302/2608934167.jpg', alt='Fotografia de Perfil')

                            h3.profile-username.text-center=user.name.firstName + " " + user.name.lastName
                    .info-box
                        .box-body
                            if(user.education[0])
                                strong
                                    i.fa.fa-book.margin-r-5="  Educação"
                                each education in user.education
                                    p.text-muted=education.formation + " em " + education.school
                            if(user.experience[0])
                                hr
                                strong
                                    i.fa.fa-book.margin-r-5="  Experiência"
                                each experience in user.experience
                                    p.text-muted=experience.cargo + " em " + experience.company
                            hr
                            strong
                                i.fa.fa-map-marker.margin-r-5
                                |  Localização
                            p.text-muted=user.address.district
                            if(ruser.social.facebook)
                                hr
                                strong
                                    i.fa.fa-phone.margin-r-5
                                    |  Perfis Sociais
                                .text-left
                                    a(href=ruser.social.facebook).btn.btn-social-icon.btn-facebook
                                        i.fa.fa-facebook
                                if(ruser.social.linkedin)
                                    a(href=ruser.social.linkedin).btn.btn-social-icon.btn-linkedin
                                        i.fa.fa-linkedin
                                if(ruser.social.twitter)
                                    a(href=ruser.social.twitter).btn.btn-social-icon.btn-twitter
                                        i.fa.fa-twitter
                        // /.box-body
                .col-lg-8
                    .info-box
                        .card.tab-style1
                            // Nav tabs
                            ul.nav.nav-tabs.profile-tab(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#profile', role='tab', aria-expanded='true') Perfil
                            // Tab panes
                            .tab-content
                                #profile.tab-pane.active(role='tabpanel', aria-expanded='true')
                                    .card-body
                                        .row
                                            .col-lg-3.col-xs-6.b-r
                                                strong Nome
                                                br
                                                p.text-muted=user.name.firstName + " " + user.name.lastName
                                            .col-lg-3.col-xs-6.b-r
                                                strong Registado em
                                                br
                                                p.text-muted=user.date.toLocaleDateString()
                                        hr
                                        p=user.biography
    include foote

    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='dist/js/luso.js')
    script(src='dist/plugins/jquery-ui/jquery-ui.min.js')
    script(src='dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768',
                animationSpeed: 'fast',
                accoridonExpAll: false
            });
        });
