extends ./layout
block content
    .content-wrapper
        // Content Header (Page header)
        .content-header.sty-one
            h1.text-black Form Wizard
            ol.breadcrumb
                li
                    a(href=' #') Home
                li.sub-bread
                    i.fa.fa-angle-right
                    |  Forms
                li
                    i.fa.fa-angle-right
                    |  Form Wizard
        // Main content
        .content
            hr.m-t-5.m-b-5
            h4.text-black.m-b-3 Step Wizard with Validation
            #demo1
                .step-app
                    ul.step-steps
                        li
                            a(href=' #tab1')
                                span.number 1
                                |  Informação Pessoal
                        li
                            a(href=' #tab2')
                                span.number 2
                                |  Job Status
                    .step-content
                        #tab1.step-tab-panel
                            form#frmRes(name='frmRes')
                                .row.m-t-2
                                    .col-md-6
                                        .form-group
                                            label(for='firstName') Primeiro Nome:
                                            input.form-control(type='text', name='firstname', value=ruser.name.firstName)
                                    .col-md-6
                                        .form-group
                                            label(for='lastName') Último Nome:
                                            input.form-control(type='text', name='lastname', value=ruser.name.lastName)
                                .row
                                    .col-md-6
                                        .form-group
                                            label(for='Email') Email:
                                            input.form-control(type='text', name='email', value=ruser.username)
                                    .col-md-6
                                        .form-group
                                            label(for='contact') Contacto telefónico:
                                            input.form-control(type='text', name='phoneno', value=ruser.contact)
                                .row
                                    .col-md-6
                                        .form-group
                                            label(for='district') Distrito
                                                select.combobox.input-large.form-control(name='address.district')
                                                    option(value='', selected=ruser.address.district) Seleccione um Distrito
                                                    option(value='Aveiro') Aveiro
                                                    option(value='Beja') Beja
                                                    option(value='Braga') Braga
                                                    option(value='Bragança') Bragança
                                                    option(value='Castelo Branco') Castelo Branco
                                                    option(value='Coimbra') Coimbra
                                                    option(value='Évora') Évora
                                                    option(value='Faro') Faro
                                                    option(value='Guarda') Guarda
                                                    option(value='Leiria') Leiria
                                                    option(value='Lisboa') Lisboa
                                                    option(value='Portalegre') Portalegre
                                                    option(value='Porto') Porto
                                                    option(value='Santarém') Santarém
                                                    option(value='Setúbal') Setúbal
                                                    option(value='Viana do Castelo') Viana do Castelo
                                                    option(value='Vila Real') Vila Real
                                                    option(value='Viseu') Viseu
                                                    option(value='Angra do Heroísmo') Distrito de Angra do Heroísmo
                                                    option(value='Funchal') Distrito do Funchal
                                                    option(value='Horta(Açores)') Distrito da Horta
                                                    option(value='Lamego') Distrito de Lamego
                                                    option(value='Ponta Delgada') Distrito de Ponta Delgada
                                                script(src='js/bootstrap-combobox.js')
                                                script.
                                                    $(document).ready(function () {
                                                        $('.combobox').combobox()
                                                    });
                                    .col-md-6
                                        .form-group
                                            label(for='date1') Data de nascimento :
                                            input#date1.form-control(type='date', name='birthday')

                        #tab2.step-tab-panel
                            form#frmInfo(name='frmInfo')
                                .row.m-t-2
                                    .card
                                        .row
                                            .col-md-6
                                                .form-group.has-feedback
                                                    label.control-label First Name
                                                    input.form-control(placeholder='First Name', type='text')
                                                    span.fa.fa-user.form-control-feedback(aria-hidden='true')
                                            .col-md-6
                                                .form-group.has-feedback
                                                    label.control-label Last Name
                                                    input.form-control(placeholder='Last Name', type='text')
                                                    span.fa.fa-user.form-control-feedback(aria-hidden='true')
                                            .col-md-6
                                                .form-group.has-feedback
                                                    label.control-label E-mail
                                                    input.form-control(placeholder='E-mail', type='text')
                                                    span.fa.fa-envelope-o.form-control-feedback(aria-hidden='true')
                                            .col-md-6
                                                .form-group.has-feedback
                                                    label.control-label Contact Number
                                                    input.form-control(placeholder='Contact Number', type='text')
                                                    span.fa.fa-phone.form-control-feedback(aria-hidden='true')
                                            .col-md-6
                                                .form-group.has-feedback
                                                    label.control-label Company
                                                    input.form-control(placeholder='Company', type='text')
                                                    span.fa.fa-briefcase.form-control-feedback(aria-hidden='true')
                                            .col-md-6
                                                .form-group.has-feedback
                                                    label.control-label Website
                                                    input.form-control(placeholder='https://', type='text')
                                                    span.fa.fa-globe.form-control-feedback(aria-hidden='true')
                                            .col-md-12
                                                .form-group.has-feedback
                                                    label.control-label Bio
                                                    textarea#placeTextarea.form-control(rows='3', placeholder='Bio')
                                            .col-md-12
                                                .form-group.has-feedback
                                                    label.custom-file.center-block.block
                                                        input#file.custom-file-input(type='file')
                                                        span.custom-file-control
                                            .col-md-12
                                                button.btn.btn-success(type='submit') Submit


                    .step-footer
                        button.btn.btn-light(data-direction='prev') Previous
                        button.btn.btn-primary(data-direction='next') Next
                        button.btn.btn-primary(data-direction='finish', type="submit") Submit

    include foote

    script(src='/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/dist/js/niche.js')
    script(src='/dist/plugins/formwizard/jquery-steps.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js')
    script.
        var frmRes = $('#frmRes');
        var frmResValidator = frmRes.validate();
        var frmInfo = $('#frmInfo');
        var frmInfoValidator = frmInfo.validate();
        var frmLogin = $('#frmLogin');
        var frmLoginValidator = frmLogin.validate();
        var frmMobile = $('#frmMobile');
        var frmMobileValidator = frmMobile.validate();
        $('#demo1').steps({
            onChange: function (currentIndex, newIndex, stepDirection) {
                console.log('onChange', currentIndex, newIndex, stepDirection);
                // tab1
                if (currentIndex === 0) {
                    if (stepDirection === 'forward') {
                        var valid = frmRes.valid();
                        return valid;
                    }
                    if (stepDirection === 'backward') {
                        frmResValidator.resetForm();
                    }
                }
                // tab2
                if (currentIndex === 1) {
                    if (stepDirection === 'forward') {
                        var valid = frmInfo.valid();
                        return valid;
                    }
                    if (stepDirection === 'backward') {
                        frmInfoValidator.resetForm();
                    }
                }
                // tab3
                if (currentIndex === 2) {
                    if (stepDirection === 'forward') {
                        var valid = frmLogin.valid();
                        return valid;
                    }
                    if (stepDirection === 'backward') {
                        frmLoginValidator.resetForm();
                    }
                }
                // tab4
                if (currentIndex === 3) {
                    if (stepDirection === 'forward') {
                        var valid = frmMobile.valid();
                        return valid;
                    }
                    if (stepDirection === 'backward') {
                        frmMobileValidator.resetForm();
                    }
                }
                return true;
            },
            onFinish: function () {
                $.post("/form", $("#frmRes").serialize(), function (data) {

                });
            }
        });

    script(src='/dist/plugins/hmenu/ace-responsive-menu.js', type='text/javascript')
    script(type='text/javascript').
        $(document).ready(function () {
            $("#respMenu").aceResponsiveMenu({
                resizeWidth: '768', // Set the same in Media query
                animationSpeed: 'fast', //slow, medium, fast
                accoridonExpAll: false //Expands all the accordion menu on click
            });
        });
