extends ../../layout
block content
    .container-fluid
        .row
            .col-md-4
                .row
                    .card.profile-card-1
                        -let ruserProfilePicture = 'http://localhost:7217'+ruser.profilePicture
                        img.background(src='https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb', alt='profile-sample1')
                        if(ruser.profilePicture)
                            if (ruser.profilePicture.length > 50)
                                img.img-rounded.profile(src=ruserProfilePicture, alt='profile-image')
                        else
                            img.img-responsive(src="http://cdn.onlinewebfonts.com/svg/img_570489.png", alt='profile-image')
                        .card-content
                            h2=ruser.name.firstName + " " + ruser.name.lastName
                            small=ruser.role+" ("+ruser._id+")"
                            .icon-block
                                a(href= ruser.social.facebook)
                                    i.fa.fa-facebook
                                a(href= ruser.social.twitter)
                                    i.fa.fa-twitter
                                a(href= ruser.social.linkedin)
                                    i.fa.fa-linkedin

                #sidebar.row-sm
                    -let space=" "
                    -let profile="/perfil/"+ruser._id+"/"
                    .list-group.panel
                        a.list-group-item.collapsed(href='#menu1', data-toggle='collapse', data-parent='#sidebar', aria-expanded='false')
                            i.fa.fa-dashboard
                            span.hidden-sm-down=space + "Perfil"
                        #menu1.collapse
                            a.list-group-item(href=profile + "editar", data-parent='#menu1')=space + "Editar Perfil"
                            a.list-group-item(href='#', data-parent='#menu1')=space + "Conta"

                        a.list-group-item.collapsed(href='#menu3', data-toggle='collapse', data-parent='#sidebar', aria-expanded='false')
                            i.fa.fa-book
                            span.hidden-sm-down=space + "Experiência"
                        #menu3.collapse
                            a.list-group-item(href='/perfil/' + ruser._id + '/adicionarExperiencia', data-parent='#menu3')=space + "Adicionar experiência"
                        a.list-group-item.collapsed(href='#menup', data-toggle='collapse', data-parent='#sidebar', aria-expanded='false')
                            i.fa.fa-book
                            span.hidden-sm-down=space + "Educação"
                        #menup.collapse
                            a.list-group-item(href=profile + "adicionarEducacao", data-parent='#menu3')=space + "Adicionar Educação"
                        a.list-group-item.collapsed(href='#menu4', data-toggle='collapse', data-parent='#sidebar', aria-expanded='false')
                            i.fa.fa-book
                            span.hidden-sm-down=space + "Ofertas de trabalho"
                        #menu4.collapse
                            a.list-group-item(href='/trabalho/adicionar', data-parent='#menu4')=space + "Adicionar Oferta de Trabalho"
                            a.list-group-item(href='/meusTrabalhos', data-parent='#menu4')=space + "Ver ofertas"
                        a.list-group-item.collapsed(href='#menuE', data-toggle='collapse', data-parent='#sidebar', aria-expanded='false')
                            i.fa.fa-book
                            span.hidden-sm-down=space + "Empresas"
                        #menuE.collapse
                            a.list-group-item(href=profile + 'adicionarEmpresa', data-parent='#menuE')=space + "Adicionar Empresa"
                            a.list-group-item(href='/minhasEmpresas', data-parent='#menuE')=space + "Páginas de Empresa"



            .col-md
                .row
                    .col-md
                        h5="Suas Empresas"
                        each company in ruser.company
                            #accordion
                                .card.my-3
                                    .card-header
                                        .mb-0
                                            a
                                                i.fa.fa-file-text-o
                                                h3=company.name
                                                p=company.location
            .col-md
                .row
                    .col-md
                        h5="Suas Ofertas"
                        each job in jobs
                            #accordion
                                .card.my-3
                                    .card-header
                                        .mb-0
                                            a
                                                i.fa.fa-file-text-o
                                                h3:a(href='#')=job.body.cargo
                                            .row
                                                .col-form-label
                                                    label Detalhes:
                                                    h6= job.location
                                                .col-form-label
                                                    hr
                                                    label Data de expiração:
                                                    h6= job.expirationDate.getDate() + "/" + job.expirationDate.getMonth() + "/" + job.expirationDate.getUTCFullYear()
    include ../../footer